body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #696969;
  margin-top: 30px;
}
#container {
  margin: 0 auto;
  width: 940px;
  min-height: 500px;
  height: 100%;
}
#container div.nextDay {
  font-size: xx-large;
  width: 55px;
  text-align: center;
  clear: both;
  margin-top: 50px;
}
#container div.nextDay a,
#container div.nextDay a.visited {
  color: #696969;
}
#container div.nextDay a:hover,
#container div.nextDay a.visited:hover {
  text-decoration: none;
}
div.day {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.day div.date {
  float: left;
  width: 50px;
  padding-top: 15px;
  text-align: center;
}
div.day div.date span.day {
  font-size: 2em;
}
div.day div.date span.month {
  font-size: 1.2em;
}
div.day div.date div.day .date {
  float: left;
  width: 50px;
}
div.day div.jobs {
  float: left;
  width: 880px;
}
div.day div.jobs ul.jobs {
  margin-left: 0px;
  margin-top: 0px;
  min-height: 50px;
  padding-left: 20px;
  border-left: 2px solid gray;
  padding-top: 10px;
  padding-bottom: 0px;
  list-style: none;
}
div.day div.jobs ul.jobs > li {
  clear: both;
  width: 100%;
}
div.day div.jobs ul.jobs > li div.date {
  float: left;
  width: 5%;
  padding: 5px;
}
div.day div.jobs ul.jobs > li div.infos {
  float: left;
  width: 80%;
  border: 1px solid lightgray;
  border-left: 10px solid lightgray;
  padding: 5px;
}
div.day div.jobs ul.jobs > li div.infos.running {
  border-left: 10px solid lightblue;
}
div.day div.jobs ul.jobs > li div.infos.success {
  border-left: 10px solid lightgreen;
}
div.day div.jobs ul.jobs > li div.infos.error {
  border-left: 10px solid lightcoral;
}
div.day div.jobs ul.jobs > li div.infos div.params {
  float: right;
}
div.day div.jobs ul.jobs > li div.infos div.params ul li {
  border: none;
  width: 60px;
  text-align: center;
  display: inline-block;
}
div.day div.jobs ul.jobs > li div.actions {
  float: left;
  padding: 6px;
  padding-bottom: 5px;
  color: white;
  border-bottom: 1px solid white;
  background-color: gray;
}
div.day div.jobs ul.jobs > li div.actions a,
div.day div.jobs ul.jobs > li div.actions a:visited {
  display: inline-block;
  width: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}
div.day div.jobs ul.jobs > li div.actions a:hover,
div.day div.jobs ul.jobs > li div.actions a:visited:hover {
  text-decoration: none;
}
div.day div.jobs ul.jobs > li div.startedBy {
  padding: 5px;
  float: left;
}
div.day div.jobs ul.tasks {
  clear: both;
  margin-left: 80px;
  width: 100%;
}
div.day div.jobs ul.tasks li {
  clear: both;
  width: 100%;
  list-style: none;
}
div.day div.jobs ul.tasks li div.date {
  float: left;
  padding: 5px;
}
div.day div.jobs ul.tasks li div.infos {
  float: left;
  width: 70%;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  border-left: 10px solid lightgray;
}
div.day div.jobs ul.tasks li div.infos.running {
  border-left: 10px solid lightblue;
}
div.day div.jobs ul.tasks li div.infos.success {
  border-left: 10px solid lightgreen;
}
div.day div.jobs ul.tasks li div.infos.error {
  border-left: 10px solid lightcoral;
}
div.day div.jobs ul.tasks li div.params {
  float: right;
  border: 0px !important;
}
div.day div.jobs ul.tasks li div.actions {
  float: left;
  padding: 5px;
  color: gray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
div.day div.jobs ul.tasks li div.actions a,
div.day div.jobs ul.tasks li div.actions a:visited {
  display: inline-block;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: gray;
}
div.day div.jobs ul.tasks li div.actions a:hover,
div.day div.jobs ul.tasks li div.actions a:visited:hover {
  color: black;
  text-decoration: none;
}
