body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #696969;
  margin-top: 30px;
}
#container {
  margin: 0 auto;
  width: 940px;
  min-height: 500px;
  height: 100%;
}
div.day {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.day div.date {
  float: left;
  width: 50px;
  padding-top: 15px;
  text-align: center;
}
div.day div.date span.day {
  font-size: 2em;
}
div.day div.date span.month {
  font-size: 1.2em;
}
div.day div.date div.day .date {
  float: left;
  width: 50px;
}
div.day div#jobs {
  float: left;
  width: 800px;
}
div.day div#jobs ul.jobs {
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 20px;
  border-left: 2px solid gray;
  padding-top: 10px;
  padding-bottom: 0px;
  list-style: none;
}
div.day div#jobs ul.jobs li.open div.infos {
  border-bottom: 1px solid lightgray;
}
div.day div#jobs ul.jobs > li:last-child div.infos {
  border-bottom: 1px solid lightgray;
}
div.day div#jobs ul.jobs > li:last-child div.actions {
  border-bottom: 1px solid lightgray;
}
div.day div#jobs ul.jobs > li {
  clear: both;
  text-align: left;
}
div.day div#jobs ul.jobs > li small {
  display: block;
  float: left;
  line-height: 30px;
}
div.day div#jobs ul.jobs > li div.infos {
  width: 710px;
  border: 1px solid lightgray;
  border-left: 10px solid lightgray;
  border-bottom: none;
  margin-left: 45px;
  padding: 5px;
}
div.day div#jobs ul.jobs > li div.infos.running {
  border-left: 10px solid lightblue;
}
div.day div#jobs ul.jobs > li div.infos.success {
  border-left: 10px solid lightgreen;
}
div.day div#jobs ul.jobs > li div.infos.error {
  border-left: 10px solid lightcoral;
}
div.day div#jobs ul.jobs > li div.infos div.params {
  float: right;
}
div.day div#jobs ul.jobs > li div.infos div.params ul li {
  border: none;
  width: 60px;
  text-align: center;
  display: inline-block;
}
div.day div#jobs ul.jobs > li div.actions {
  float: right;
  padding: 6px;
  padding-bottom: 5px;
  color: white;
  border-bottom: 1px solid white;
  background-color: gray;
}
div.day div#jobs ul.jobs > li div.actions a,
div.day div#jobs ul.jobs > li div.actions a:visited {
  display: inline-block;
  width: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}
div.day div#jobs ul.jobs > li div.actions a:hover,
div.day div#jobs ul.jobs > li div.actions a:visited:hover {
  text-decoration: none;
}
div.day div#jobs ul.jobs ul.tasks:last-of-type div {
  border-bottom: 1px solid lightgray;
}
div.day div#jobs ul.tasks {
  background-color: white;
  /*box-shadow: -2px 0px 5px -2px black;*/

  text-align: left;
  list-style: none;
  margin-left: 80px;
  width: 698px;
}
div.day div#jobs ul.tasks li small {
  float: left;
  line-height: 30px;
}
div.day div#jobs ul.tasks li div.infos {
  float: left;
  width: 578px;
  padding: 5px;
  margin-left: 5px;
  border-left: 10px solid lightgray;
}
div.day div#jobs ul.tasks li div.infos.running {
  border-left: 10px solid lightblue;
}
div.day div#jobs ul.tasks li div.infos.success {
  border-left: 10px solid lightgreen;
}
div.day div#jobs ul.tasks li div.infos.error {
  border-left: 10px solid lightcoral;
}
div.day div#jobs ul.tasks li div.params {
  float: right;
  border: 0px !important;
}
div.day div#jobs ul.tasks li div.actions {
  float: right;
  padding: 5px;
  color: gray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
div.day div#jobs ul.tasks li div.actions a,
div.day div#jobs ul.tasks li div.actions a:visited {
  display: inline-block;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: gray;
}
div.day div#jobs ul.tasks li div.actions a:hover,
div.day div#jobs ul.tasks li div.actions a:visited:hover {
  color: black;
  text-decoration: none;
}
/** ACTIF **/
ul.jobs > li.active {
  border: 1px solid lightgray;
  margin-bottom: 0px;
}
ul.jobs > li:hover {
  cursor: pointer;
}
