@textColor: #696969;

body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    color: @textColor;
    margin-top: 30px;
}

#container {
    margin: 0 auto;
    width: 940px;
    min-height: 500px;
    height: 100%;

    div.nextDay {
        font-size: xx-large;
        width: 55px;
        text-align: center;
        clear: both;

        margin-top: 50px;

        a, a.visited {
            color: @textColor;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

div.day {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;

    div.date {
        float: left;
        width: 50px;

        padding-top: 15px;
        text-align: center;

        span.day {
            font-size: 2em;
        }

        span.month {
            font-size: 1.2em;
        }

        div.day .date {
            float: left;
            width: 50px;
        }
    }

    div.jobs {
        float: left;
        width: 880px;

        ul.jobs  {
            margin-left: 0px;
            margin-top: 0px;
            min-height: 50px;

            padding-left: 20px;
            border-left: 2px solid gray;

            padding-top: 10px;
            padding-bottom: 0px;
            list-style: none;

            & > li {
                clear: both;
                width: 100%;

                div.date {
                    float: left;
                    width: 5%;
                    padding: 5px;
                }

                div.infos {
                    float: left;
                    width: 80%;

                    border: 1px solid lightgray;
                    border-left: 10px solid lightgray;

                    padding: 5px;

                    &.running {
                        background-color: lighten(yellow, 45);
                        border-left: 10px solid darken(yellow, 10);
                    }

                    &.success {
                        background-color: lighten(lightgreen, 20);
                        border-left: 10px solid lightgreen;
                    }

                    &.error {
                        background-color: lighten(lightcoral, 25);
                        border-left: 10px solid lightcoral;
                    }

                    &.dropped {
                        text-decoration: line-through;
                    }

                    div.params {
                        float: right;

                        ul li {
                            border: none;
                            width: 60px;
                            text-align: center;
                            display: inline-block;
                        }
                    }
                }

                div.actions {
                    float: left;
                    padding: 6px;
                    padding-bottom: 5px;

                    color: white;
                    border-bottom: 1px solid white;
                    background-color: gray;

                    a, a:visited {
                        display: inline-block;
                        width: 20px;
                        color: white;
                        text-align: center;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                div.startedBy {
                    padding: 5px;
                    float: left;
                }
            }
        }

        ul.tasks {
            clear: both;

            margin-left: 80px;
            width: 100%;

            li {
                clear: both;
                width: 100%;
                list-style: none;

                div.date {
                    float: left;
                    padding: 5px;
                }

                div.infos {
                    float: left;
                    width: 70%;
                    padding: 5px;

                    border-bottom: 1px solid lightgray;
                    border-left: 10px solid lightgray;

                    &.running {
                        background-color: lighten(yellow, 45);
                        border-left: 10px solid darken(yellow, 10);
                    }

                    &.success {
                        background-color: lighten(lightgreen, 20);
                        border-left: 10px solid lightgreen;
                    }

                    &.error {
                        background-color: lighten(lightcoral, 25);
                        border-left: 10px solid lightcoral;
                    }

                    &.skipped {
                        background-color: lighten(black, 96%);
                    }

                    &.dropped {
                        text-decoration: line-through;
                    }
                }

                div.params {
                    float: right;
                    border: 0px !important;
                }

                div.actions {
                    float: left;
                    padding: 5px;

                    color: gray;
                    border-left: 1px solid lightgray;
                    border-right: 1px solid lightgray;

                    a, a:visited {
                        display: inline-block;
                        width: 20px;
                        text-align: center;
                        text-decoration: none;
                        color: gray;

                        &:hover {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}





